body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: black;
}

h1 {
    color: black;
    text-align: center;
    margin-top: 20px;
}

#contact-grid {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: black;
    border-collapse: collapse;
}

#contact-grid th {
    background-color: yellow;
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

#contact-grid td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

#contact-grid th:first-child,
#contact-grid td:first-child {
    text-align: left;
}

#contact-grid th:last-child,
#contact-grid td:last-child {
    text-align: right;
}

/* Style for Add and Delete buttons */
button {
    background-color: #0094FF; /* Pipedrive blue */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    justify-content: right;

}

button:hover {
    background-color: #0072D6; /* Darker blue on hover */
}
